* {
  box-sizing: border-box;
}

body {
  background-color: #FAFAFA;
}

.content{
  max-width: 1200px;
}

.container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.keyboard{
  width: 1200px;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.letter {
  height: 40px;
  width: 40px;
}